<a href="https://colab.research.google.com/github/satyaabdul/Regresi-Linier/blob/master/Regresi_Linier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Regresi Linier**

Analisis regresi mempelajari bentuk hubungan antara satu atau lebih variabel bebas/independent (X) dengan satu variabel tak bebas/dependent (Y). sebagai contoh pengaruh banyaknya makanan yang dikonsumsi (X) terhadap kenaikan berat badan (Y) atau pengaruh luas bangunan (X) terhadap harga rumah (Y).

dalam hal ini kita bagi menjadi 3 bagian :

1. Persiapan Data
    
  *Mempersiapkan dataset dan memilih variabel independent dan dependent*

2. Pembuatan Model

  *Pembagian data latih (train) dan data uji (test)*

3. Evaluasi Model

  *Evaluasi akurasi model*


Latihan ini dilakukan menggunakan **Python**

Selamat Mencoba



**Satya A.H.B**

## **Persiapan Data**

**Load dataset harga rumah boston**

In [0]:
#load dataset
from sklearn.datasets import load_boston
boston_dataset = load_boston()

**Masukan ke dalam data frame**

In [2]:
#masukan dalam data frame

#jika belum ada library pandas install terlebih dahulu dengan kode dibawah ini
#!pip install pandas

#import pandas
import pandas as pd

#Masukan dataset dalam pandas data frame
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
#buat kolom baru pada data frame dan masukan nilai target
boston['MEDV']=boston_dataset.target

#tampilkan 5 data teratas
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

**Tentukan variable dependent dan independent**

In [3]:
#tentukan variabel dipendent dan independent (X & Y)
#import numpy
import numpy as np

#ambil variable RM sebagai X
X = pd.DataFrame(np.c_[boston['RM']], columns = ['RM'])

#ambil variabel MEDV sebagai Y
Y = boston['MEDV']

# tampilkan variable X & Y
print(X)
print(Y)

        RM
0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
..     ...
501  6.593
502  6.120
503  6.976
504  6.794
505  6.030

[506 rows x 1 columns]
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

## **Pembuatan Model**

**Pembagian data train dan test**

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)

# Print ukuran data train dan tes
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(404, 1)
(102, 1)
(404,)
(102,)

**Buat model linier**

In [0]:
#import library LinearRegression()
from sklearn.linear_model import LinearRegression

#buat model
#masukan data training
model = LinearRegression().fit(X_train,Y_train)

## **Hasil dan Evaluasi Model**

**Hasil model**

In [6]:
#intercept model
intercept_model = model.intercept_
print(intercept_model)

#coeffecient model
coefficient_model = model.coef_
print(coefficient_model)

#didapatkan model
# a+bx = -32.839 + 8.823X

-32.839129906011266
[8.82345634]

**Uji model**

In [7]:
#masukan data test dan dapatkan y prediksi
y_pred = model.predict(X_test)
print(y_pred)

#buktikan dengan intercept dan coeffecient
y_pred2 = intercept_model + coefficient_model*X_test
print(y_pred2)

[38.10145909 25.66038564 23.78098944 10.44874691 35.02207282 13.96048253
 28.71330154 26.50743745 26.41037943 23.95745857 32.59562233 19.9692563
 19.85455137 31.00740019 24.84862766 19.2016156   7.99582605 14.84282817
 14.71929978 17.95750826 12.09873325 23.38393391 40.09556022 23.47216847
 29.70152865 18.81338352 23.41922773 21.65453646 22.88982035 25.21038937
 18.83103043 14.93106273 19.10455758 32.39268283 24.46921904 22.97805492
 25.6692091  19.18396869 41.26025646 29.13682744 21.80453522 11.44579748
 25.55450417 19.8898452  24.94568568 27.78683862  7.0340693  19.75749335
 21.17806982 21.63688955 21.2221871  20.83395502 22.62511666 20.94865996
 17.53398235 23.48099193 36.16029869 24.73392273 26.08391155 19.77514026
 20.33984147 20.27807727 17.39280705 28.42212748 21.2221871  14.35753807
 24.46921904 21.96335744 19.75749335 19.2633798  24.37216102 21.17806982
 16.58987252 27.61919295 16.64281326 26.52508436 18.9986761  16.54575524
 31.81033471 20.15454889 22.12217965 41.05731696 21.54865499 21.93688707
 18.22221195 23.78098944 16.29869846 11.59579623 18.24868232 19.07808721
 36.25735671 19.79278718 22.12217965 22.03394509 23.03981911 24.61039434
 17.95750826 28.38683365 18.39868107 13.67813193 22.23688458 23.92216474]
            RM
226  38.101459
292  25.660386
90   23.780989
373  10.448747
273  35.022073
..         ...
349  28.386834
212  18.398681
156  13.678132
480  22.236885
248  23.922165

[102 rows x 1 columns]

**Evaluasi model**

**RMSE** (Root Mean Square Error)

Nlai error model 

Semakin kecil atau mendekati nilai 0 RMSE maka model memiliki eror yang semakin sedikit

**R2** (Root Square)

Nilai keakuratan model

Semakin mendekati 1 semakin bagus model tersebut, menghitung seberapa besar variabel dependent bisa dijelaskan oleh variabel independent

contoh R2 = 0,65

maka variabel independent bisa menjelaskan 0,65/65% dari variabel dependent, dan sisanya 0,35/35% dijelaskan oleh variabel lain

In [8]:
#import MSE (Mean Squared Error)
from sklearn.metrics import mean_squared_error
#import r2_score
from sklearn.metrics import r2_score

#Evaluasi model dengan data training
print("Performa model dengan data training")
#Evalusai dengam RMSE (Root Mean square Error)
Y_train_pred = model.predict(X_train)
rmse_train = (np.sqrt(mean_squared_error(Y_train,Y_train_pred)))
print("RMSE : ", rmse_train)

#evalusai dengan R2 (R Square)
# cara 1
r2_train = model.score(X_train,Y_train)
# cara 2
# r2 = r2_score(Y_train, Y_train_pred)
print("R2 : ", r2_train)
print("\n")

#Evaluasi model dengan data training
print("Performa model dengan data test")
#Evalusai dengam RMSE (Root Mean square Error)
Y_test_pred = model.predict(X_test)
rmse_test = (np.sqrt(mean_squared_error(Y_test,Y_test_pred)))
print("RMSE : ", rmse_test)

#evalusai dengan R2 (R Square)
# cara 1
r2_test = model.score(X_test,Y_test)
# cara 2
# r2 = r2_score(Y_train, Y_test_pred)
print("R2 : ", r2_test)

Performa model dengan data training
RMSE :  6.972277149440585
R2 :  0.4340897790637215


Performa model dengan data test
RMSE :  4.895963186952216
R2 :  0.6938399401553497

---

## **Regresi Linier**

**Satya A.H.B**